In [6]:
#Importing Dependencies
import pandas as pd
import json
from sqlalchemy import create_engine

In [2]:
#Reading state_vaccine csv file
state_vaccine_csv_file = "Source 1/us_state_vaccinations.csv"
state_vaccine_data_df = pd.read_csv(state_vaccine_csv_file)
state_vaccine_data_df.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN

In [15]:
#Reading cdc_data csv file
cdc_data_df_csv_file = "Source 2/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv"
cdc_data_df = pd.read_csv(cdc_data_df_csv_file)
cdc_data_df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,05/04/2020,KY,5245,5245.0,0.0,115,0.0,261,261.0,0.0,8,0.0,05/05/2020 05:25:08 PM,Agree,Agree
1,03/23/2020,NH,101,NaN,NaN,23,NaN,1,NaN,NaN,1,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
2,08/21/2020,MD,103523,NaN,NaN,624,0.0,3685,3546.0,139.0,11,1.0,08/22/2020 02:21:09 PM,NaN,Agree
3,02/27/2021,MS,294795,182857.0,111938.0,704,478.0,6681,4672.0,2009.0,12,7.0,02/28/2021 02:48:18 PM,Agree,Agree
4,03/12/2020,NJ,29,NaN,NaN,6,NaN,1,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree

In [22]:
#Reading cdc_data json file
cdc_data_json_df = pd.read_json(r'Source 2/CDC_Cases_and_Deaths01.json')
#cdc_data_json_df.head()
print(cdc_data_json_df)

                                                    data
0      [row-gb2p~35fg_7anh, 00000000-0000-0000-F7A3-F...
1      [row-dz4j-2z4j_mcai, 00000000-0000-0000-85CE-8...
2      [row-v7zp_sji8.jc3e, 00000000-0000-0000-9546-1...
3      [row-q9tg~q6ev_nj25, 00000000-0000-0000-23E1-3...
4      [row-xxud.a4ay.vie9, 00000000-0000-0000-67BF-0...
...                                                  ...
27655  [row-s4i5.eacf~npnm, 00000000-0000-0000-CC16-9...
27656  [row-kx7p_cnhu~p27r, 00000000-0000-0000-2E84-0...
27657  [row-8efd-4xr7-iiim, 00000000-0000-0000-30C0-0...
27658  [row-4dsx~gbf2_smzy, 00000000-0000-0000-6F83-5...
27659  [row-tge7_zegs~dvka, 00000000-0000-0000-EAA6-7...

[27660 rows x 1 columns]